<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.ade.monak.ortu"
      android:versionCode="1"
      android:versionName="1.0">
		<uses-sdk android:minSdkVersion="9" 
         		android:targetSdkVersion="9"
         		android:maxSdkVersion="16" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		<uses-permission 
			android:name="android.permission.INTERNET" />   
		<uses-permission 
		    android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		<uses-permission 
			android:name="android.permission.WRITE_SETTINGS" />   
		<uses-permission 
	  		android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    	<uses-permission 
      		android:name="android.permission.ACCESS_FINE_LOCATION"/>
    	<uses-permission 
      		android:name="android.permission.ACCESS_COARSE_LOCATION"/>    	
		<uses-permission 
		    android:name="android.permission.READ_PHONE_STATE"/>
		<uses-permission 
		    android:name="android.permission.SEND_SMS"/>
			<uses-permission 
		    android:name="android.permission.RECEIVE_SMS"/>


    <application android:icon="@drawable/icon" 
        android:label="@string/app_name">
        
		<uses-library android:name="com.google.android.maps"/>
        <activity android:name=".MonitoringKeberadaan"
                  android:label="@string/app_name"
									android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".test.TestGps"
                  android:label="@string/app_name" 
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".boundary.DaftarAnak"
                  android:label="@string/app_name" 
                  android:exported="false"
									android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".boundary.PendaftaranAnak"
                  android:label="@string/app_name" 
                  android:exported="false"
									android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".boundary.AdminActivity"
                  android:label="@string/app_name" 
                  android:exported="false"
				  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".map.view.Peta"
                  android:label="@string/app_name" 
                  android:exported="false"
									android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".boundary.DaftarMonitoring"
                  android:label="@string/app_name" 
                  android:exported="false"
									android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".boundary.PendaftaranMonitoring"
                          android:exported="false"
									android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          
        <receiver 
            android:name=".service.gate.ReceiverSMS" 
            android:exported="true"> 
            <intent-filter> 
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" /> 
            </intent-filter> 
        </receiver>
        
      <receiver 	android:name=".service.StartUpService"
            		android:exported="true"> 
            	<intent-filter> 
                	<action android:name=
                    	"android.intent.action.BOOT_COMPLETED" /> 
            </intent-filter> 
        </receiver>
        
        <service 	android:name=".service.MonakService"
            		android:exported="false"
					android:icon="@drawable/icon" >
            	<intent-filter>
					<action android:name=
						"monak_service"/>
				</intent-filter>
		</service>
		
          <service 	android:name=".service.gate.InternetStatus"
            		android:exported="false"
					android:icon="@drawable/icon" >
            	<intent-filter>
					<action android:name=
						"ConnectivityManager.CONNECTIVITY_ACTION"/>
				</intent-filter>
		</service>

    </application>
</manifest>